.comment {
    margin: 1rem 0;
    padding: 0 0.5rem;
    border: 2px dashed #8dc149;
}

.comment > p {
    margin: 0.5rem 0;
}

.material-symbols-outlined {
    color: #d3d8cb;
    cursor: pointer;
}
.material-symbols-outlined {
    color: #d3d8cb;
    cursor: pointer;
  }
  