.search-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 0.75rem;
}

.search-bar > input, 
.log-in > form > fieldset > input, 
.sign-up > form > fieldset > input,
.comment-form > input {
    border: 2px solid rgb(210, 223, 175);
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.search-bar > input:focus,
.log-in > form > fieldset > input:focus, 
.sign-up > form > fieldset > input:focus,
.comment-form > input:focus {
    outline: none;
    border: 2px solid rgb(104, 143, 4);
}

.search-bar > button,
.log-in > form > button, 
.log-out > button, 
.sign-up > form > button,
.comment-form > button {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
    background-color: rgb(104, 143, 4);
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
}

.search-bar > button:hover, 
.log-in > form > button:hover, 
.log-out > button:hover, 
.sign-up > form > button:hover,
.comment-form > button:hover {
    color: #f5f2f2;
    font-size: 1rem;
    font-weight: 300;
    background-color:rgb(70, 97, 2);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.log-in > form > fieldset,
.sign-up > form > fieldset {
    width: 100%;
    border: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.log-in > form > fieldset > label,
.sign-up > form > fieldset > label {
    margin-bottom: 0.5rem;
    color: #48803d;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.comment-form > button {
    width: fit-content;
}

.like-button {
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(104, 143, 4);
    border-radius: 3px;
  }
  
  .like-button:hover {
    background-color:rgb(70, 97, 2);
  }
