
* {
    font-family: 'Geologica', sans-serif;
}
.content {
    margin: 0 auto;
    width: 350px;
}


body {
    background-image: url("https://images.pexels.com/photos/1037994/pexels-photo-1037994.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
   
  }

  h1 {
    text-align: center;
    color:rgb(104, 143, 4) ;
    text-decoration-line: underline;
    text-decoration-color: #cad52c;
    text-shadow: 4px 4px 4px rgb(245, 253, 80);
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 50px 100px;
    font: 25px helvetica;
    font-style:inherit;
    font-weight: bold;
    text-align: center;
  }
  
  li {
    flex: 1;
    height: 66px;
    color: rgb(108, 136, 21);
    text-shadow: 2px 2px 4px#efece0;
  }
  
  li:hover {
    flex:1.2;
    transition:all .2s ease;
    background: #efece0;
  }
 
  a {
    display: block;
    position: relative;
    text-align: centre;
    color: rgb(13, 12, 14);
    padding: 23px;
  }
 
  .navigation li:not(:first-child){
      border-left: 2px solid #155c6d;
  }